<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/error-styles.css">
    <title>Обектът не е намерен</title>
</head>

<body>

<header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="error-container">
            <h1>Обектът не е намерен</h1>

            <div class="error-content">
                <p>Изглежда нещо се обърка.</p>
                <p th:text="${message}">Обектът не е намерен.</p>
                <a th:href="@{/start-quiz}" class="btn-start">Нов куиз</a>
            </div>

            <div class="error-image">
                <img th:src="@{/images/error/object-not-found.png}"/>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>