.form-section form {
    width: 50%;
}

.form-section form .additional-info {
    font-size: 12px;
    font-style: oblique;
}

.form-section form .additional-info::before {
    display: inline-block;
    content: "*";
    font-weight: 500;
    padding-right: 0.3em;
}