.admin-container {
    gap: 2em;
}

.admin-authorities {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.authority {
    width: calc((100% - 2em) / 2);
}

.authority a {
    display: flex;
    margin-top: 0;
}