.categories-section {
    gap: 1em;
}

table {
    width: 70%;
}

table td .edit-btn {
    padding: 0.5em 1em;
    margin-top: 0;
}

table thead th {
    background-color: rgba(128, 0, 128, 0.8);
}

table tbody td {
    background-color: rgba(186, 156, 252, 0.9);
}

table .col-name {
    width: 15%;
}

table .col-update {
    width: 5%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 30%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: 500;
    width: 30px;
    aspect-ratio: 1 / 1;
    color: rgb(128, 0, 128);
    z-index: 1000;
}

.modal-content form {
    width: 100%;
}