@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    background: url(/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

h1,
form h2 {
    font-family: 'Rubik Doodle Shadow', cursive;
    font-size: 30px;
    text-align: center;
}

.form-section,
.profile-container,
.admin-container,
.contacts-container,
.report-problem-container,
.about-container,
.dashboard-container,
.questions-dashboard-container,
.categories-section,
.questions-section,
.admins-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

.form-section form,
.modal-content form,
.contact-form form,
.report-problem-container form,
.subscribe-section form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25%;
    padding: 2em;
    padding-top: 0.5em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(135deg,
        rgba(232, 179, 235, 0.8),
        rgba(175, 144, 247, 0.8));
    background-size: 200% 200%;
    animation: gradientShift 5s ease infinite;
    backdrop-filter: blur(5px);
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

form .field {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 16px;
    font-weight: 500;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 0.8em 1em;
    border: none;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1em;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
}

form input:focus,
form textarea:focus,
form select:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 10px #d4a7ec, 0 0 20px #d4a7ec inset;
    background: rgba(255, 255, 255, 0.2);
}

form select option {
    background-color: #d4a7ec;
}

form input::placeholder,
form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
}

button[type="submit"],
.btn-start,
.edit-btn,
.show-btn,
.delete-btn,
.back-btn,
#prevBtn,
#nextBtn,
#submitBtn {
    margin-top: 2em;
    padding: 0.5em 1.2em;
    border: none;
    border-radius: 1em;
    background: linear-gradient(135deg, #d4a7ec, #b57edc);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

#submitBtn:disabled {
    background-color: #b9b9b9;
    cursor: not-allowed;
    opacity: 0.7;
    transform: none;
}

.back-btn,
.show-btn {
    margin-top: 0;
}

button[type="submit"],
button.back-btn {
    padding: 0.9em 1.5em;
}

button[type="submit"]:hover,
.btn-start:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
    background: linear-gradient(135deg, #b57edc, #d4a7ec);
}

button[type="submit"]:active,
.btn-start:active {
    transform: translateY(1px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

button > i {
    padding-right: 0.3em;
}

.nav-buttons,
.pagination {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1.5em;
}

.page-numbers {
    display: flex;
    gap: 0.5em;
    margin-top: 2em;
}

.page-numbers span {
    padding: 0.5em 1.2em;
    border: 1px solid rgba(128, 0, 128, 0.8);
    border-radius: 2em;
    cursor: pointer;
    font-weight: bold;
}

.page-numbers span.active {
    background: linear-gradient(135deg, #d4a7ec, #b57edc);
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th, td {
    border: 1px solid rgba(128, 0, 128, 0.6);
    padding: 0.5em 1em;
}

table thead th {
    background-color: rgba(128, 0, 128, 0.4);
}

table tbody td {
    background-color: rgba(186, 156, 252, 0.4);
}

.search-form {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
}

.search-form select {
    width: 35%;
    background-color: rgba(186, 156, 252, 0.8);
}

.search-form input {
    background-color: rgba(186, 156, 252, 0.8);
}

.search-form .search-btn {
    padding: 0.7em 3em;
    margin-top: 0;
    font-size: 16px;
}

.warning,
.error,
.success {
    width: 60%;
    padding: 0.5em;
    backdrop-filter: blur(3px);
    text-align: center;
    border-radius: 2em;
    margin-bottom: 0.5em;
    align-self: center;
}

.warning {
    background: linear-gradient(135deg,
        rgba(212, 167, 236, 0.4),
        rgba(128, 0, 128, 0.4));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
}

.error {
    background: #f7a3a3;
    border: 1px solid #f44336;
}

.success {
    background: #a8e6a3;
    border: 1px solid #4caf50;
}

.form-section form .error,
.form-section form .success {
    width: 100%;
}

header .menu ul li a:hover,
footer .footer-menu a:hover {
    color: #e0b3ff;
}