header nav {
  background-color: rgba(128, 0, 128, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6em;
}

header .logo-container {
  padding-left: 4em;
  color: white;
  padding-top: 0.7em;
}

header .logo-container .logo-img {
  width: 150px;
}

header .menu ul {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  font-weight: 500;
}