.contacts-container {
    width: 60%;
    gap: 1em;
}

.contacts-container > p {
    width: 70%;
    font-size: 16px;
    text-align: center;
}

.contacts {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 4em;
}

.contacts .contact-form {
    flex: 0 1 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contacts .contacts-info {
    flex: 0 1 30%;
}

.contact-form form {
    width: 100%;
}

.social-media-icons img {
    width: 40px;
}
