.contacts-container {
    width: 60%;
    gap: 1em;
}

.contacts-container > p {
    width: 70%;
    text-align: center;
}

p {
    font-size: 16px;
}

.contacts {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2em;
}

.contacts .contact-form {
    flex: 0 1 70%;
}

.contacts .contact-form h2 {
    font-family: 'Neucha', cursive;
}

.contacts .contacts-info {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contacts .contacts-info div p {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.contacts .contacts-info div p i {
    font-size: 20px;
}

.contact-form form {
    width: 100%;
}

.social-media-icons {
    display: flex;
    gap: 0.7em;
}

.social-media-icons img {
    width: 30px;
}