.dashboard-container {
    width: 85%;
    gap: 1em;
}

.col-wrong-answers,
.col-correct-answers,
.col-attempts,
.col-accuracy,
.col-difficulty,
.col-completion-rate {
    width: 8%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1.5em;
}