.dashboard-container {
    width: 85%;
    gap: 1em;
}

.search-form {
    width: 100%;
    align-self: flex-start;
}

.search-form #page-size-selector {
    width: 30%;
}

.search-form #sortBy,
.search-form #categoryId {
    width: 15%;
}

.search-form input {
    width: 40%;
}

.col-wrong-answers,
.col-correct-answers,
.col-attempts,
.col-accuracy,
.col-difficulty,
.col-completion-rate {
    width: 8%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1.5em;
}