.error-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.error-container h1 {
    width: 100%;
    font-family: 'Neucha', cursive;
    font-size: 40px;
}

.error-content {
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.error-content p {
    font-size: 18px;
}

.error-content .btn-start {
    width: 50%;
    text-align: center;
    margin-top: 0;
}

.error-image {
    flex: 0 1 45%;
    max-width: 45%;
}

.error-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}