footer {
    background-color: #8D3EAB;
    font-size: 16px;
    font-weight: 500;
}

footer {
    padding: 2em 8em 1em 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .links-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .footer-menu {
    display: flex;
    gap: 4em;
}

footer .social-links {
    display: flex;
    gap: 1em;
}

footer .social-links a img {
    width: 30px;
    aspect-ratio: 1 / 1;
}