header nav {
    background-color: rgba(128, 0, 128, 0.5);
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
}

header .logo-container {
    display: flex;
    align-items: center;
    padding: 0.7em 4em;
}

header .logo-container .logo-img {
    width: 150px;
    object-fit: cover;
}

header .menu ul {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 4em;
    font-weight: 500;
}

header .menu ul li a {
    transition: color 0.3s ease;
}

header .menu ul li .dropdown-content {
    display: none;
    position: absolute;
    top: 60%;
    left: 66%;
    min-width: 150px;
    background-color: rgba(128, 0, 128, 0.5);
    z-index: 1000;
}

header .menu ul li:hover .dropdown-content,
header .menu ul li .dropdown-content li {
    display: block;
}

header .menu ul li .dropdown-content li a {
    padding: 0.5em;
    transition: color 0.3s ease;
}