.profile-container {
    gap: 2em;
}

.profile-info,
.profile-stats,
.solved-quizzes,
.admin-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 2em;
    background: rgba(212, 167, 236, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    backdrop-filter: blur(2px);
}

.profile-info h2 {
    font-size: 32px;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 26px;
}

.user-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.user-info a {
    text-decoration: underline;
}

.user-info a:hover {
    text-decoration: none;
}

.profile-stats ul {
    display: flex;
    flex-direction: column;
}

.solved-quizzes table th, td {
    text-align: center;
}

.solved-quizzes .btn-start {
    width: 20%;
    text-align: center;
    align-self: center;
}

.admin-section .admin-authorities {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    column-gap: 3em;
    row-gap: 2em;
    justify-content: start;
}

.admin-section .authority {
    display: flex;
}

.admin-section .authority a {
    width: 100%;
    text-align: center;
    margin-top: 0;
}