.profile-container {
    gap: 2em;
}

.profile-info, .profile-stats, .solved-quizzes {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 2em;
    background: rgba(212, 167, 236, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    backdrop-filter: blur(2px);
}

.profile-info h2 {
    font-size: 32px;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 26px;
}

.profile-stats ul {
    display: flex;
    flex-direction: column;
}

.solved-quizzes table {
    width: 100%;
    border-collapse: collapse;
}

.solved-quizzes th, .solved-quizzes td {
    border: 1px solid rgba(128, 0, 128, 0.6);
    padding: 0.5em 1em;
    text-align: center;
}

.solved-quizzes th {
    background-color: rgba(128,0,128,0.1);
}

.solved-quizzes .btn-start {
    width: 20%;
    text-align: center;
    align-self: center;
}