.profile-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2em;
    font-family: 'Noto Sans', sans-serif;
}

.profile-info, .profile-stats, .solved-quizzes {
    margin-bottom: 2em;
    padding: 1.5em;
    border-radius: 1.5em;
    background: rgba(212, 167, 236, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    backdrop-filter: blur(2px);
}

.profile-info h2 {
    font-size: 32px;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 26px;
}

.profile-stats ul {
    list-style: none;
    padding: 0;
}

.profile-stats li {
    margin-bottom: 0.5em;
}

.solved-quizzes table {
    width: 100%;
    border-collapse: collapse;
}

.solved-quizzes th, .solved-quizzes td {
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    text-align: center;
}

.solved-quizzes th {
    background-color: rgba(128,0,128,0.1);
}