main {
  font-size: 14px;
}

main .hero {
  font-family: 'Tinos', serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5em 0;
}

main .hero h2 {
  font-family: 'Rubik Doodle Shadow', system-ui;
  font-size: 50px;
}

main .hero p {
  font-size: 24px;
  font-weight: 500;
}

main .hero .btn-start {
  display: inline-block;
}

main .sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  padding: 2em 0 4em 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

main .sections .feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 4em;
  padding: 2em 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: linear-gradient(135deg,
      rgba(212, 167, 236, 0.8),
      rgba(128, 0, 128, 0.8));
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite;

  backdrop-filter: blur(2px);
}

main .feature-section h2 {
  font-family: 'Neucha', cursive;
  font-size: 40px;
}

main .feature-section p {
  font-size: 18px;
}