main {
  font-size: 14px;
}

main .hero {
  font-family: 'Tinos', serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5em 0;
}

main .hero .btn-start {
  font-family: 'Noto Sans', sans-serif;
}

main .hero h2 {
  font-family: 'Rubik Doodle Shadow', system-ui;
  font-size: 50px;
}

main .hero p {
  font-size: 24px;
  font-weight: 500;
}

main .hero .btn-start {
  display: inline-block;
}

main .sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  padding: 2em 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

main .sections .feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 4em;
  padding: 2em 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: linear-gradient(135deg,
      rgba(212, 167, 236, 0.8),
      rgba(128, 0, 128, 0.8));
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite;

  backdrop-filter: blur(2px);

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

main .sections .feature-section.visible,
main .subscribe-section.visible {
  opacity: 1;
  transform: translateY(0);
}

main .feature-section h2 {
  font-family: 'Neucha', cursive;
  font-size: 40px;
}

main .feature-section p {
  font-size: 18px;
}

main .subscribe-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  text-align: center;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

main .subscribe-section form {
  width: 100%;
  align-items: center;
}

main .subscribe-section form p {
  font-size: 16px;
}

main .subscribe-section form h2 {
  font-family: 'Neucha', cursive;
}

main .subscribe-section form .field {
  width: 50%;
}

main .subscribe-section form .field .input-field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

main .subscribe-section form .field input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

main .subscribe-section form .field button {
  width: 30%;
  margin-top: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

main .subscribe-section form .field button:hover {
  transform: none;
}

main .subscribe-section form .field small {
  text-align: left;
}