body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    background: url("/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

