main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2em;
  padding-top: 0.5em;
  background: rgba(212, 167, 236, 0.15);
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: linear-gradient(135deg,
      rgba(232, 179, 235, 0.8),
      rgba(175, 144, 247, 0.8));
  background-size: 200% 200%;
  animation: gradientShift 5s ease infinite;

  backdrop-filter: blur(5px);
}

form .field {
  display: flex;
  flex-direction: column;
}