main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2em;
  padding-top: 0.5em;
  background: rgba(212, 167, 236, 0.15);
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form .field {
  display: flex;
  flex-direction: column;
}