.quizzes-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em auto;
}

.quizzes-section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 16px;
}

.quiz-card {
    padding: 1.5em;
    border-radius: 1.5em;
    background: rgba(212, 167, 236, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    backdrop-filter: blur(2px);
}

.quiz-card ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.quiz-card ul li {
    flex: 0 1 calc(100% / 4 - 2em);
}

.quiz-card ul li span {
    font-weight: 600;
}

.quiz-card ul li a.edit-btn {
    display: block;
    margin-top: 0;
    padding: 0.2em 0;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1.5em;
}