.form-section form {
  width: 50%;
}

form .row {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

form .field {
  width: calc(100% / 2 - 1.5em);
}

form p {
  text-align: center;
  font-size: 16px;
}

form a {
  color: #fff;
  text-decoration: underline;
}

form a:hover {
  color: #b57edc;
}

form button[type="submit"] {
  align-self: center;
  width: 50%;
}