/* Центриране на формата */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em;
  padding-top: 0.5em;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: linear-gradient(135deg,
      rgba(232, 179, 235, 0.8),
      rgba(175, 144, 247, 0.8));
  background-size: 200% 200%;
  animation: gradientShift 5s ease infinite;

  backdrop-filter: blur(5px);
}

form .row {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  padding-bottom: 1.5em;
}

form .field {
  width: calc(100% / 2 - 1.5em);
}

form p {
  text-align: center;
  margin-top: 1.5em;
  font-size: 16px;
}

form a {
  color: #fff;
  text-decoration: underline;
}

form a:hover {
  color: #b57edc;
}

form button[type="submit"] {
  align-self: center;
  width: 50%;
}