.report-problem-container {
    width: 60%;
    gap: 1em;
}

.report-problem-container > p {
    width: 60%;
    text-align: center;
}

.report-problem-container form {
    width: 70%;
}

.report-problem-container form h2 {
    font-family: 'Neucha', cursive;
}

form button {
    align-self: center;
    width: 20%;
}