main {
    height: 100vh;
}

h2 {
    font-family: 'Rubik Doodle Shadow', cursive;
    font-size: 30px;
    text-align: center;
    padding-bottom: 0.5em;
}

.quiz-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 4em;
    gap: 2em;
}

.quiz-result p {
    font-size: 26px;
}