.categories-section {
    width: 90%;
    gap: 2em;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(430px, 1fr));
    row-gap: 2em;
    column-gap: 3em;
    justify-content: start;
}

.category-card input {
    display: none;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2em;
    padding: 1.5em;
    transition: 0.3s ease;
    backdrop-filter: blur(3px);
    background: linear-gradient(135deg,
        rgba(212, 167, 236, 0.4),
        rgba(128, 0, 128, 0.4));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
}

.category-card:hover {
    transform: translateY(-4px);
    box-shadow: rgba(128, 0, 128, 0.6) 0px 6px 20px;
}

.category-card:has(input:checked) {
    background: linear-gradient(135deg,
    rgba(230, 190, 255, 0.7),
    rgba(180, 120, 255, 0.7));
    box-shadow: 0 0 20px 4px rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

@keyframes pulseSelected {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 35px rgba(255, 255, 255, 0.8);
    }
    100% {
        transform: scale(1.07);
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
    }
}

.card-content {
    text-align: center;
}

button[type="submit"] {
    width: 20%;
    font-size: 18px;
}

.search-form .search-btn {
    width: 25%;
}