<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Добави категория</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="form-section">
            <form th:action="@{/categories/add-category}"
                  th:method="POST"
                  th:object="${addCategoryDTO}">
                <h2>Добави категория</h2>

                <div th:if="${error}" class="error">
                    <p th:text="${error}"></p>
                </div>

                <div th:if="${success}" class="success">
                    <p th:text="${success}"></p>
                </div>

                <div class="field">
                    <label th:for="name">Име на категорията</label>
                    <input type="text" name="name" id="name"
                           th:field="*{name}"
                           th:errorclass="is-invalid">
                    <small th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"
                           class="text-danger">Name error message</small>
                </div>

                <div class="field">
                    <label th:for="description">Кратко описание</label>
                    <textarea name="description" id="description"
                              th:field="*{description}" rows="4"
                              th:errorclass="is-invalid"></textarea>
                    <small th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"
                           class="text-danger">Description error message</small>
                </div>

                <button type="submit" class="btn-submit">Добави категория</button>
                <button type="button" onclick="history.back()" class="back-btn"><i class="fa-solid fa-rotate-left"></i> Назад</button>
            </form>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>