<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/dashboards-styles.css">
    <title>Статистика по категории</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="dashboard-container">
            <h1>Статистики по категории</h1>

            <form th:action="@{/statistics/categories}"
                  th:method="GET"
                  th:unless="${warning}"
                  class="search-form">
                <input type="hidden" name="page" value="0"/>

                <select name="sortBy" id="sortBy" onchange="this.form.submit()">
                    <option value="" th:selected="${sortBy == null}">Сортирай по</option>
                    <option th:each="sortField : ${categoriesSortFields}"
                            th:value="${sortField}"
                            th:selected="${sortBy == sortField}"
                            th:text="${sortField.displayName}">
                    </option>
                </select>

                <select name="categoryId" id="categoryId" onchange="this.form.submit()">
                    <option value="">Търси категория</option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.id}"
                            th:selected="${cat.id == categoryId}"
                            th:text="${cat.name}">
                    </option>
                </select>
            </form>

            <div th:if="${warning}" class="warning">
                <p th:text="${warning}"></p>
            </div>

            <table th:unless="${categoriesStats.isEmpty()}">
                <thead>
                <tr>
                    <th class="col-username">Категория</th>
                    <th class="col-started-quizzes">Започнати куизове</th>
                    <th class="col-completed-quizzes">Решени куизове</th>
                    <th class="col-unfinished-quizzes">Незавършени куизове</th>
                    <th class="col-total-questions">Решени въпроси</th>
                    <th class="col-correct-answers">Верни отговори</th>
                    <th class="col-avg-accuracy">Средна точност (%)</th>
                    <th class="col-completion-rate">Завършеност (%)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categoriesStats}">
                    <td th:text="${category.categoryName}" class="col-username">Потребител</td>
                    <td th:text="${category.totalStartedQuizzes}" class="col-started-quizzes">Започнати куизове</td>
                    <td th:text="${category.totalCompletedQuizzes}" class="col-completed-quizzes">Решени куизове</td>
                    <td th:text="${category.totalUnfinishedQuizzes}" class="col-unfinished-quizzes">Незавършени куизове</td>
                    <td th:text="${category.totalQuestions}" class="col-total-questions">Решени въпроси</td>
                    <td th:text="${category.totalCorrectAnswers}" class="col-correct-answers">Верни отговори</td>
                    <td th:text="${#numbers.formatDecimal(category.averageAccuracy, 1, 2)}" class="col-avg-accuracy">Средна точност (%)</td>
                    <td th:text="${#numbers.formatDecimal(category.completionRate, 1, 2)}" class="col-completion-rate">Завършеност (%)</td>
                </tr>
                </tbody>
            </table>

            <div class="nav-buttons">
                <div class="pagination" th:if="${totalPages > 1}">
                    <a th:if="${currentPage > 0}"
                       th:href="@{/statistics/categories(
                               page=${currentPage - 1},
                               size=${size},
                               sortBy=${sortBy},
                               categoryId=${categoryId})}" class="btn-start"><i class="fa-solid fa-angle-left"></i></a>
                    <span th:text="'Страница ' + ${currentPage + 1} + ' от ' + ${totalPages}"></span>
                    <a th:if="${currentPage + 1 < totalPages}"
                       th:href="@{/statistics/categories(
                               page=${currentPage + 1},
                               size=${size},
                               sortBy=${sortBy},
                               categoryId=${categoryId})}" class="btn-start"><i class="fa-solid fa-angle-right"></i></a>
                </div>
                <button type="button" onclick="history.back()" class="back-btn"><i class="fa-solid fa-rotate-left"></i> Назад</button>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>