<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/categories-styles.css">
    <title>Категории</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <section class="categories-section">
            <h1 class="page-title">Категории</h1>

            <div th:if="${error}" class="error">
                <p th:text="${error}"></p>
            </div>

            <div th:if="${success}" class="success">
                <p th:text="${success}"></p>
            </div>

            <div th:if="${warning}" class="warning">
                <p th:text="${warning}"></p>
            </div>

            <form th:action="@{/categories}"
                  th:method="GET"
                  class="search-form">

                <input type="text"
                       name="categoryName"
                       th:value="${categoryName}"
                       placeholder="Търси по име на категория...">

                <button type="submit" class="search-btn">Търсене</button>
            </form>

            <div th:if="${warning}" class="warning">
                <p th:text="${warning}"></p>
            </div>

            <table th:unless="${categories.isEmpty()}">
                <thead>
                <tr>
                    <th class="col-name">Име</th>
                    <th class="col-description">Описание</th>
                    <th class="col-update">Редактирай</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.name}" class="col-name">Име</td>
                    <td th:text="${category.description}" class="col-description">Описание</td>
                    <td class="col-update">
                        <button class="edit-btn"
                                th:data-id="${category.id}"
                                th:data-name="${category.name}"
                                th:data-description="${category.description}">Редактирай</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="pagination" th:if="${totalPages > 1}">
                <a th:if="${currentPage > 0}"
                   th:href="@{/categories(
                       page=${currentPage - 1},
                       size=${size})}" class="btn-start"><i class="fa-solid fa-angle-left"></i></a>
                <span th:text="'Страница ' + ${currentPage + 1} + ' от ' + ${totalPages}"></span>
                <a th:if="${currentPage + 1 < totalPages}"
                   th:href="@{/categories(
                        page=${currentPage + 1},
                        size=${size})}" class="btn-start"><i class="fa-solid fa-angle-right"></i></a>
            </div>

            <div id="editModal" class="modal" th:data-open-modal="${openModal}">
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <form th:object="${updateCategoryDTO}"
                          th:method="PUT"
                          id="editForm">
                        <h2>Редактирай</h2>

                        <input type="hidden" th:field="*{id}" name="id" id="edit-id">

                        <div class="field">
                            <label>Име:</label>
                            <input type="text" th:field="*{name}" id="edit-name" name="name" readonly>
                        </div>

                        <div class="field">
                            <label>Описание:</label>
                            <textarea id="edit-description" th:field="*{description}" name="description" rows="4"></textarea>
                            <small th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}"
                                   class="text-danger">Description error message</small>
                        </div>

                        <button type="submit">Запази</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-categories-update-modal.js"></script>
</body>
</html>