<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/contacts-styles.css">
    <title>Контакти</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="contacts-container">
            <h1>Контакти</h1>

            <p>Независимо дали имате технически въпрос, предложение за нови категории или искате да ни изпратите обратна връзка —
                нашият екип е тук, за да помогне.</p>

            <div class="contacts">
                <section class="contacts-info">
                    <div>
                        <h2>Свържете се с нас на:</h2>
                        <p><i class="fa-solid fa-envelope"></i> support@quizapp.bg</p>
                        <p><i class="fa-solid fa-phone"></i> +359 888 123 456</p>
                    </div>

                    <div>
                        <h2>Работно време:</h2>
                        <p>Понеделник–Петък: 09:00 – 18:00</p>
                    </div>

                    <div>
                        <h2>Намерете ни и в:</h2>
                        <div class="social-media-icons">
                            <a href="#"><img src="/images/facebook-icon.png" th:alt="Facebook"></a>
                            <a href="#"><img src="/images/instagram-icon.png" th:alt="Instagram"></a>
                            <a href="https://github.com/SavinaDzhenimova/QuizApp-main">
                                <img src="/images/github-icon.png" th:alt="GitHub">
                            </a>
                        </div>
                    </div>
                </section>

                <section class="contact-form">
                    <form th:action="@{/contact}"
                          th:method="POST">
                        <h2>Свържете се с нас чрез контактната форма</h2>

                        <div class="field">
                            <label th:for="name">Име:</label>
                            <input type="text" name="name" id="name" required>
                        </div>

                        <div class="field">
                            <label th:for="email">Имейл:</label>
                            <input type="email" name="email" id="email">
                        </div>

                        <div class="field">
                            <label th:for="theme">Тема:</label>
                            <input type="text" name="theme" id="theme">
                        </div>

                        <div class="field">
                            <label th:for="message">Съобщение:</label>
                            <textarea name="message" id="message" rows="4"></textarea>
                        </div>

                        <button type="submit">Изпрати</button>
                    </form>
                </section>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>