<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/forgot-password-styles.css">
    <title>Забравена парола</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="form-section">
            <form th:action="@{/users/forgot-password}"
                  th:method="POST">

                <h2>Забравена парола</h2>

                <div th:if="${error}" class="error">
                    <p th:text="${error}"></p>
                </div>

                <p>Въведи имейл адреса, с който си се регистрирал и ще ти изпратим линк, с който да възстановиш твоята парола.</p>

                <div class="field">
                    <label for="email">Остави имейл</label>
                    <input type="email" name="email" id="email">
                </div>

                <button type="submit">Изпрати</button>
                <button type="button" onclick="history.back()" class="back-btn"><i class="fa-solid fa-rotate-left"></i> Назад</button>
            </form>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>