<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/index-styles.css">
    <title>QuizTime</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <section class="hero">
            <h2>Предизвикай себе си с QuizTime!</h2>

            <p>Разнообразни категории, стотици въпроси и безкрайно забавление за всеки!</p>
            <a th:href="@{/categories}" class="btn-start">Започни сега</a>
        </section>

        <div class="sections">
            <section id="section1" class="feature-section">
                <h2>Нови въпроси всяка седмица</h2>
                <p>Поддържаме играта свежа и интересна с нови въпроси всеки понеделник.</p>
            </section>

            <section id="section2" class="feature-section">
                <h2>10+ категории въпроси</h2>
                <p>От наука и история до забавни и развлекателни въпроси — има по нещо за всеки!</p>
            </section>

            <section id="section3" class="feature-section">
                <h2>500+ въпроса в разнообразни категории</h2>
                <p>Голямо разнообразие, за да можеш да тестваш знанията си и да се забавляваш.</p>
            </section>
        </div>

        <section class="subscribe-section" id="subscribe">
            <form th:action="@{/subscribe}"
                  th:method="POST"
                  th:object="${subscribeDTO}">

                <h2>Искаш ли първи да научаваш всички новости?</h2>

                <p>Абонирай се, за да получаваш имейли за всички актуализации, нови категории и промени в приложението.</p>

                <div class="field">
                    <div class="input-field">
                        <input type="email" name="email" id="email" placeholder="Въведете своя имейл..."
                               th:field="*{email}"
                               th:errorclass="is-invalid">
                        <button type="submit">Абонирай се</button>
                    </div>

                    <small th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"
                           class="text-danger">Email error message</small>
                </div>
            </form>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\reveal-sections-on-scroll.js"></script>

</body>
</html>