<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/login-styles.css">
    <title>Вход</title>
</head>

<body>

  <header th:replace="~{fragments/commons::header}"></header>

  <main>
      <div class="form-section">
          <form th:action="@{/users/login}"
                th:method="POST">
              <h2>Вход</h2>

              <div th:if="${error}" class="error">
                  <p th:text="${error}"></p>
              </div>

              <div th:if="${success}" class="success">
                  <p th:text="${success}"></p>
              </div>

              <div class="field">
                  <label for="username">Потребителско име</label>
                  <input type="text" name="username" id="username"/>
              </div>

              <div class="field">
                  <label for="password">Парола</label>
                  <input type="password" name="password" id="password"/>
              </div>

              <button type="submit">Вход</button>

              <p>Забравили сте паролата си?</br><a th:href="@{/users/forgot-password}">Забравена парола</a></p>
          </form>
      </div>
  </main>

  <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>