<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/login-styles.css">
    <title>Вход</title>
</head>

<body>

  <header th:replace="~{fragments/commons::header}"></header>

  <main>
    <div class="form-section">
      <form th:action="@{/users/login}"
            th:method="POST">
        <h2>Вход</h2>

        <div class="field">
          <label>Потребителско име</label>
          <input type="text" name="username"/><br/>
        </div>

        <div class="field">
          <label>Парола</label>
          <input type="password" name="password"/><br/>
        </div>

        <button type="submit">Вход</button>
      </form>
    </div>
  </main>

  <footer th:replace="~{fragments/commons::footer}"></footer>

  <script>

  </script>
</body>
</html>