<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/questions-styles.css">
    <title>Въпроси</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <section class="questions-section">
            <h1 class="page-title">Въпроси</h1>

            <div th:if="${error}" class="error">
                <p th:text="${error}"></p>
            </div>

            <div th:if="${success}" class="success">
                <p th:text="${success}"></p>
            </div>

            <form th:action="@{/questions}"
                  th:method="GET"
                  class="search-form">

                <select name="categoryId">
                    <option value="">Търси категория</option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.id}"
                            th:selected="${cat.id == categoryId}"
                            th:text="${cat.name}">
                    </option>
                </select>

                <input type="text"
                       name="questionText"
                       th:value="${questionText}"
                       placeholder="Търси по съдържанието на въпроса...">

                <button type="submit" class="search-btn">Търси</button>
            </form>

            <div th:if="${warning}" class="warning">
                <p th:text="${warning}"></p>
            </div>

            <table th:unless="${questions.isEmpty()}">
                <thead>
                <tr>
                    <th class="col-question-text">Въпрос</th>
                    <th class="col-categories">Категория</th>
                    <th class="col-correct-answer">Верен отговор</th>
                    <th class="col-options">Опции</th>
                    <th class="col-update">Редактирай</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${questions}">
                    <td th:text="${question.questionText}" class="col-question-text">Въпрос</td>
                    <td th:text="${question.categoryName}" class="col-categories">Категория</td>
                    <td th:text="${question.correctAnswer}" class="col-correct-answer">Верен отговор</td>
                    <td th:text="${#strings.arrayJoin(question.options, ', ')}" class="col-options">Опции</td>
                    <td class="col-update">
                        <button class="edit-btn"
                                th:data-id="${question.id}"
                                th:data-question-text="${question.questionText}"
                                th:data-category-name="${question.categoryName}"
                                th:data-correct-answer="${question.correctAnswer}"
                                th:data-options="${#strings.arrayJoin(question.options, ', ')}">Редактирай</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="pagination" th:if="${totalPages > 1}">
                <a th:if="${currentPage > 0}"
                   th:href="@{/questions(
                       page=${currentPage - 1},
                       size=${size},
                       questionText=${questionText},
                       categoryId=${categoryId})}" class="btn-start">⬅ Предишна</a>
                <span th:text="'Страница ' + ${currentPage + 1} + ' от ' + ${totalPages}"></span>
                <a th:if="${currentPage + 1 < totalPages}"
                   th:href="@{/questions(
                        page=${currentPage + 1},
                        size=${size},
                        questionText=${questionText},
                        categoryId=${categoryId})}" class="btn-start">Следваща ➡</a>
            </div>

            <div id="editModal" class="modal" th:data-open-modal="${openModal}">
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <form th:method="PUT"
                          th:object="${updateQuestionDTO}"
                          id="editForm">
                        <h2>Редактирай</h2>

                        <input type="hidden" th:field="*{id}" name="id" id="edit-id">

                        <div class="field">
                            <label th:for="questionText">Въпрос:</label>
                            <input type="text" th:field="*{questionText}" id="edit-question-text" name="questionText">
                            <small th:if="${#fields.hasErrors('questionText')}"
                                   th:errors="*{questionText}"
                                   class="text-danger">Question text error message</small>
                        </div>

                        <div class="field">
                            <label th:for="categoryName">Категория:</label>
                            <input type="text" id="edit-category-name" th:field="*{categoryName}" name="categoryName" readonly>
                        </div>

                        <div class="field">
                            <label th:for="correctAnswer">Верен отговор:</label>
                            <input type="text" th:field="*{correctAnswer}" id="edit-correct-answer" name="correctAnswer">
                            <small th:if="${#fields.hasErrors('correctAnswer')}"
                                   th:errors="*{correctAnswer}"
                                   class="text-danger">Correct answer error message</small>
                        </div>

                        <div class="field">
                            <label th:for="options">Опции:</label>
                            <input type="text" th:field="*{options}" id="edit-options" name="options">
                            <small th:if="${#fields.hasErrors('options')}"
                                   th:errors="*{options}"
                                   class="text-danger">Options error message</small>
                        </div>

                        <button type="submit">Запази</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-questions-update-modal.js"></script>
</body>
</html>