<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/dashboards-styles.css">
    <title>Статистика за въпросите</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="dashboard-container">
            <h1>Статистики за въпросите</h1>

            <form th:action="@{/statistics/questions}"
                  th:method="GET"
                  th:unless="${warning}"
                  class="search-form">
                <input type="hidden" name="page" value="0"/>

                <select name="sortBy" id="sortBy" onchange="this.form.submit()">
                    <option value="" th:selected="${sortBy == null}">Сортирай по</option>
                    <option th:each="sortField : ${questionSortFields}"
                            th:value="${sortField}"
                            th:selected="${sortBy == sortField}"
                            th:text="${sortField.displayName}">
                    </option>
                </select>

                <select name="categoryId" id="categoryId">
                    <option value="">Търси категория</option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.id}"
                            th:selected="${cat.id == categoryId}"
                            th:text="${cat.name}">
                    </option>
                </select>

                <input type="text"
                       name="questionText"
                       th:value="${questionText}"
                       placeholder="Търси по съдържанието на въпроса...">

                <button type="submit" class="search-btn">Търсене</button>
            </form>

            <div th:if="${warning}" class="warning">
                <p th:text="${warning}"></p>
            </div>

            <table th:unless="${questionStats.isEmpty()}">
                <thead>
                <tr>
                    <th class="col-question-text">Въпрос</th>
                    <th class="col-category">Категория</th>
                    <th class="col-attempts">Брой опити</th>
                    <th class="col-correct-answers">Верни отговори</th>
                    <th class="col-wrong-answers">Грешни отговори</th>
                    <th class="col-accuracy">Точност (%)</th>
                    <th class="col-difficulty">Трудност (%)</th>
                    <th class="col-completion-rate">Завършеност (%)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${questionStats}">
                    <td th:text="${question.questionText}" class="col-question-text">Въпрос</td>
                    <td th:text="${question.categoryName}" class="col-category">Категория</td>
                    <td th:text="${question.attempts}" class="col-category">Брой опити</td>
                    <td th:text="${question.correctAnswers}" class="col-correct-answers">Верни отговори</td>
                    <td th:text="${question.wrongAnswers}" class="col-wrong-answers">Верни отговори</td>
                    <td th:text="${#numbers.formatDecimal(question.accuracy, 1, 2)}" class="col-accuracy">Точност (%)</td>
                    <td th:text="${#numbers.formatDecimal(question.difficulty, 1, 2)}" class="col-difficulty">Трудност (%)</td>
                    <td th:text="${#numbers.formatDecimal(question.completionRate, 1, 2)}" class="col-completion-rate">Завършеност (%)</td>
                </tr>
                </tbody>
            </table>

            <div class="nav-buttons">
                <div class="pagination" th:if="${totalPages > 1}">
                    <a th:if="${currentPage > 0}"
                       th:href="@{/statistics/questions(
                       page=${currentPage - 1},
                       size=${size},
                       categoryId=${categoryId},
                       sortBy=${sortBy},
                       questionText=${questionText})}" class="btn-start"><i class="fa-solid fa-angle-left"></i></a>
                    <span th:text="'Страница ' + ${currentPage + 1} + ' от ' + ${totalPages}"></span>
                    <a th:if="${currentPage + 1 < totalPages}"
                       th:href="@{/statistics/questions(
                        page=${currentPage + 1},
                        size=${size},
                        categoryId=${categoryId},
                        sortBy=${sortBy},
                        questionText=${questionText})}" class="btn-start"><i class="fa-solid fa-angle-right"></i></a>
                </div>
                <button onclick="history.back()" class="back-btn"><i class="fa-solid fa-rotate-left"></i> Назад</button>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>