<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/quizzes-styles.css">
    <title>Куизове</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="quizzes-container">
            <h1>Вашите куизове</h1>

            <form class="page-size-selector" th:action="@{/users/quizzes}" th:method="GET">
                <input type="hidden" name="page" value="0"/>

                <label for="size">Резултати на страница:</label>
                <select id="size" name="size" onchange="this.form.submit()">
                    <option th:value="5"  th:selected="${size == 10}">10</option>
                    <option th:value="10" th:selected="${size == 20}">20</option>
                    <option th:value="20" th:selected="${size == 30}">30</option>
                    <option th:value="20" th:selected="${size == 40}">40</option>
                </select>
            </form>

            <div th:if="${warning}" class="warning">
                <p th:text="${warning}"></p>
            </div>

            <div class="quizzes-section">
                <div class="quiz-card" th:each="quiz : ${quizzes}">
                    <ul>
                        <li>Категория: <span th:text="${quiz.categoryName}"></span></li>
                        <li>Резултат:
                            <span th:text="${quiz.correctAnswers}"></span>/<span th:text="${quiz.totalQuestions}"></span>
                        </li>
                        <li>Решен на: <span th:text="${#temporals.format(quiz.solvedAt, 'dd.MM.yyyy г. HH:mm')}"></span></li>
                        <li class="review-quiz">
                            <a th:href="@{/users/quizzes/{id}/review(id=${quiz.id}, from='list')}"
                               class="show-btn">Преглед</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="nav-buttons">
                <div class="pagination" th:if="${totalPages > 1}">
                    <a th:if="${currentPage > 0}"
                       th:href="@{/users/quizzes(page=${currentPage - 1}, size=${size})}" class="btn-start">
                        <i class="fa-solid fa-angle-left"></i></a>
                    <span th:text="'Страница ' + ${currentPage + 1} + ' от ' + ${totalPages}"></span>
                    <a th:if="${currentPage + 1 < totalPages}"
                       th:href="@{/users/quizzes(page=${currentPage + 1}, size=${size})}" class="btn-start">
                        <i class="fa-solid fa-angle-right"></i></a>
                </div>
                <button type="button" onclick="history.back()" class="back-btn"><i class="fa-solid fa-rotate-left"></i> Назад</button>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>