<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/quiz-styles.css">
    <title>It's Quiz Time</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <form th:action="${isLogged == false} ? @{/guest/quizzes/{viewToken}/submit(viewToken=${quiz.viewToken})}
                                              : @{/users/quizzes/{viewToken}/submit(viewToken=${quiz.viewToken})}"
              th:method="POST"
              th:object="${quizSubmissionDTO}"
              id="quizForm">
            <h2 th:text="'Куиз в категория ' + ${quiz.categoryName}"></h2>

            <input type="hidden" name="viewToken" th:field="*{viewToken}"
                   th:if="${quiz.viewToken != null}" />

            <div class="question-pages">
                <div th:each="question, iter : ${quiz.questions}"
                     th:id="'q' + ${iter.index}"
                     class="question-page"
                     th:classappend="${iter.index == 0} ? ' active' : ''">

                    <h3 th:text="${question.questionText}" class="question-text"></h3>

                    <div class="answers">
                        <label class="answer-option" th:each="option, aIdx : ${question.options}">
                            <input type="radio"
                                   th:name="'formData[' + ${question.id} + ']'"
                                   th:value="${option}">
                            <span th:text="${option}"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="pagination-buttons">
                <button type="button" id="prevBtn"><i class="fa-solid fa-angle-left"></i></button>
                <div id="pageNumbers" class="page-numbers"></div>
                <button type="button" id="nextBtn"><i class="fa-solid fa-angle-right"></i></button>
                <button type="submit" id="submitBtn" disabled>Изпрати</button>
            </div>
        </form>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\pagination-effect.js"></script>
    <script src="\js\quiz-validation.js"></script>

</body>
</html>