<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/register-styles.css">
    <title>Регистрация</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
      <section class="form-section">
          <form th:action="@{/users/register}"
                th:method="POST"
                th:object="${userRegisterDTO}">
              <h2>Регистрация</h2>

              <div th:if="${error}" class="error">
                  <p th:text="${error}"></p>
              </div>

              <div class="row">
                  <div class="field">
                      <label th:for="username">Потребителско име</label>
                      <input type="text" name="username" id="username" placeholder="Напр. ivan.petrov или maria_123"
                             th:field="*{username}"
                             th:errorclass="is-invalid">
                      <small th:if="${#fields.hasErrors('username')}"
                             th:errors="*{username}"
                             class="text-danger">Username error message</small>
                  </div>

                  <div class="field">
                      <label th:for="email">Имейл</label>
                      <input type="text" name="email" id="email" placeholder="Напр. example@domain.com"
                             th:field="*{email}"
                             th:errorclass="is-invalid">
                      <small th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}"
                             class="text-danger">Username error message</small>
                  </div>
              </div>

              <div class="row">
                  <div class="field">
                      <label th:for="password">Парола</label>
                      <input type="password" name="password" id="password" placeholder="Напр. Password123"
                             th:field="*{password}"
                             th:errorclass="is-invalid">
                      <small th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}"
                             class="text-danger">Password error message</small>
                  </div>

                  <div class="field">
                      <label th:for="confirmPassword">Повторете паролата</label>
                      <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Password123"
                             th:field="*{confirmPassword}"
                             th:errorclass="is-invalid">
                      <small th:if="${#fields.hasErrors('confirmPassword')}"
                             th:errors="*{confirmPassword}"
                             class="text-danger">Password error message</small>
                  </div>
              </div>

              <button type="submit" class="btn-submit">Регистрирай се</button>

              <p>Вече имате акаунт? <a th:href="@{/users/login}">Вход</a></p>
          </form>
      </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>