<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/reset-password-styles.css">
    <title>Смяна на парола</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="form-section">
            <form th:action="@{/users/reset-password}"
                  th:method="POST"
                  th:object="${resetPasswordDTO}">
                <h2>Промяна на парола</h2>

                <div th:if="${success}" class="success" >
                    <p th:text="${success}"></p>
                </div>

                <div th:if="${error}" class="error">
                    <p th:text="${error}"></p>
                </div>

                <input type="hidden" name="token" id="token" th:field="*{token}" />

                <div class="field">
                    <label th:for="password">Нова парола</label>
                    <input type="password" name="password" id="password"
                           th:field="*{password}"
                           th:errorclass="is-invalid">
                    <small th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"
                           class="text-danger">Password error message</small>
                </div>

                <div class="field">
                    <label for="confirmPassword">Потвърди парола</label>
                    <input type="password" name="confirmPassword" id="confirmPassword"
                           th:field="*{confirmPassword}"
                           th:errorclass="is-invalid">
                    <small th:if="${#fields.hasErrors('confirmPassword')}"
                           th:errors="*{confirmPassword}"
                           class="text-danger">Password error message</small>
                </div>

                <button type="submit">Запази</button>
                <a th:href="@{/users/login}" class="btn-start">Обратно към вход</a>
            </form>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>