<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/solved-quiz-styles.css">
    <title>It's Quiz Time</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="quiz-container">
            <div class="quiz-info">
                <h2 th:text="'Куиз в категория ' + ${solvedQuiz.categoryName}"></h2>

                <p>Резултат:
                    <span th:text="${solvedQuiz.correctAnswers}"></span>/<span th:text="${solvedQuiz.totalQuestions}"></span>
                </p>
                <p>Решен на: <span th:text="${#temporals.format(solvedQuiz.solvedAt, 'dd.MM.yyyy г. HH:mm')}"></span></p>
            </div>

            <div class="question-pages">
                <div th:each="question, iter : ${solvedQuiz.questions}"
                     th:id="'q' + ${iter.index}"
                     class="question-page">
                    <h3 th:text="${question.questionText}" class="question-text"></h3>
                    <ul class="options-list">
                        <li th:each="option : ${question.options}"
                            class="answer-option"
                            th:classappend="${option == question.correctAnswer} ? 'correct' :
                              (${option == solvedQuiz.userAnswers[question.id]} ? 'wrong' : '')">
                            <span th:text="${option}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pagination-buttons">
            <button type="button" id="prevBtn"><i class="fa-solid fa-angle-left"></i></button>
            <div id="pageNumbers" class="page-numbers"></div>
            <button type="button" id="nextBtn"><i class="fa-solid fa-angle-right"></i></button>
            <a class="btn-start" sec:authorize="isAuthenticated()"
               th:if="${from == 'list'}"
               th:href="@{/users/quizzes}">Обратно към всички</a>
            <a class="btn-start" sec:authorize="isAuthenticated()"
               th:if="${from == 'result'}"
               th:href="@{/users/quizzes/{id}/result(id=${solvedQuiz.id})}">Обратно към резултата</a>
            <a class="btn-start" sec:authorize="isAnonymous()"
               th:href="@{/guest/quizzes/{viewToken}/result(viewToken=${solvedQuiz.viewToken})}">Обратно към резултата</a>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\pagination-effect.js"></script>
</body>
</html>