<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/start-quiz-styles.css">
    <title>Категории</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <section class="categories-section">
            <h1 class="page-title">Избери категория</h1>

            <form th:action="@{/start-quiz}"
                  th:method="GET"
                  class="search-form">

                <input type="text"
                       name="categoryName"
                       th:value="${categoryName}"
                       placeholder="Търси по име на категория...">

                <button type="submit" class="search-btn">Търсене</button>
            </form>

            <form th:action="${isLogged == false} ? @{/guest/quizzes/start} : @{/users/quizzes/start}"
                  th:method="POST">

                <div class="categories-container">
                    <label th:each="category : ${categories}" class="category-card">
                        <input type="radio" th:name="categoryId" th:value="${category.getId()}" required>
                        <div class="card-content">
                            <h3 th:text="${category.getName()}">Категория</h3>
                            <p th:text="${category.getDescription()}">Описание</p>
                        </div>
                    </label>
                </div>

                <button type="submit">Започни куиза</button>
            </form>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>