<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div style="padding: 1em 2em; border-radius: 0.5em; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
        <h1 style="text-align: center;">Създаден админ профил в QuizApp</h1>

        <div style="font-size: 16px;">
            <p style="padding-bottom: 0.5em;">Здравей, <strong th:text="${username}">[Потребителко име]</strong>,</p>

            <p style="padding-bottom: 1em;">За теб беше създаден админ акаунт в QuizApp!</p>

            <p style="padding-bottom: 1em;">Вече имаш достъп до админ панела, статистики и други админ привилегии.</p>

            <p style="padding-bottom: 1em;">Моля използвай бутона долу за да промениш паролата си и да влезеш в админ профила си.</p>

            <a style="text-decoration: none; padding: 0.5em 1.5em; background-color: #fff; color: #000; border: 1px solid #ccc;
                          text-align: center; font-weight: 600; border-radius: 2em; font-size: 14px;
                          margin-bottom: 3em;"
               th:href="@{'http://localhost:8090/users/reset-password?token=' + ${token}}">Промяна на парола</a>

            <p style="margin-top: 3em;">Добре дошъл при нас,<br>
              <strong>Екипът на QuizApp</strong></p>
        </div>
    </div>

</body>
</html>