<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div style="padding: 1em 2em; border-radius: 0.5em; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
    <h1 style="text-align: center;">Хей, липсваш ни!</h1>

    <div style="font-size: 16px;">
        <p style="padding-bottom: 0.5em;">Здравей, <span th:text="${username}">[име]</span>,</p>

        <p style="padding-bottom: 1em;">От повече от месец не си играл куизове.</p>

        <p style="padding-bottom: 1em;">Имаме нови категории и въпроси, с които със сигурност искаш да провериш знанията си!</p>

        <p style="padding-bottom: 1em;">Ела да се забавляваме заедно отново!</p>

        <p style="margin-top: 1em;">С най-добри пожелания,<br>
          <strong>Екипът на QuizApp</strong></p>
    </div>
</div>

</body>
</html>